<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <title>Welcome</title>
  </head>
  <body>
    <div class="welcome_container">
      <h1 class="welcome_container_title">Welcome to, Skyklima</h1>
      <a href="{{url_for('login')}}"><button class="welcome_container_button">Next</button></a>
    </div>
  </body>
</html>
